class Config:
    SHEETS_SCOPES = ['https://www.googleapis.com/auth/spreadsheets']	# You should not have to touch this line
    GOOGLE_KEY_FILE = 'your-key.json'					# Your Google API key file

    SPREADSHEET_ID = 'your-sheet-id'					# ID Of the Spreadsheet
    RANGE_NAME = 'B2:D'							# Used Range in the spreadsheet

    DISCORD_BOT_TOKEN = 'your discord bot token'			# Replace with your Discord bot token
    HAS_ADDRESS = True							# Has the form addresses ? (in case needed deliveries)
    HAS_CONFLICT_MANAGEMENT = False					# (EXPERIMENTAL) Should the bot manage conflicts and exceptions?
    
    DRY_RUN = True							# Is this a dry run ? True will print to console instead of sending PM

